<div class="container">
  <table class="table">
    <thead>
      <input type="text" [(ngModel)]="filterProduct">
     </thead>
     <thead>
   Filter: {{filterProduct}}
     </thead>
    <thead>
      <tr>
        <th>
          image
          <button (click)="toggleImage()" class="btn btn-primary">
            {{ showImage ? "hide" : "show" }} image
          </button>
        </th>
        <th>product</th>
        <th>Code</th>
        <th>Price</th>
        <th>5 star rate</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productList">
        <td>
          <!--property binding-->
          <img
            *ngIf="showImage"
            [src]="product.imageUrl"
            [title]="product.productName"
            [style.width.px]="30"
            [style.margin.px]="20"
          />
        </td>
        <!--string interpolation-->
        <td>{{ product.productName }}</td>
        <td>{{ product.productCode | lowercase | convertToSpace: "-" }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.starRating }}</td>
      </tr>
    </tbody>
  </table>
</div>
